@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
}
div{
  box-sizing: border-box;
}
@media (hover: hover) {
  a:hover {
   
  }
}

@media (min-width: 1024px) {
  body {
  
  }

  #app {
  
  }
}