name: Deploy to Nginx

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name:  Rsync Deploy
        uses: wangyucode/sftp-upload-action@v3.1
        with:
       
          host: ${{ secrets.SERVER_IP }}
          port: ${{ secrets.SSH_PORT || '22' }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          localDir: "dist/" #
          remoteDir: "/www/server/nginx/html"
      
