name: Deploy to Nginx

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      # - name: Deploy to server
      #   uses: appleboy/scp-action@v1.0.0
      #   with:
      #     host: ${{ secrets.SERVER_IP }}
      #     username: ${{ secrets.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     port: ${{ secrets.SSH_PORT || '22' }}
      #     source: dist/
      #     target: /www/server/nginx/html/
      #     strip_components: 1  # 自动移除 dist 目录层级
      #     overwrite: true  # 覆盖目标目录下的文件
